.modal {
  color: #1f1f1f;
}

.modal__overlay {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal__body {
  position: fixed;
  top: -100%;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  padding: 10px;
  max-width: 600px;
  background-color: #e9f7fd;
  border-radius: 12px;
  margin: 0 auto;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
}

.modal__btn-ok, .modal__btn-cancel, .modal__btn-close {
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.836);
  font-weight: 700;
  padding: 10px 20px;
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

.modal__btn-ok:hover, .modal__btn-cancel:hover, .modal__btn-close:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.096);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.096);
}

.modal__btn-ok:active, .modal__btn-cancel:active, .modal__btn-close:active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0.6;
}

.modal__btn-close {
  font-size: 35px;
  padding: 6px 10px 8px 10px;
  color: whitesmoke;
  background-color: rgba(223, 56, 56, 0.938);
  line-height: 24px;
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.modal.open {
  height: 100%;
  width: 100%;
}

.modal.open .modal__overlay {
  opacity: 1;
  z-index: 90;
}

.modal.open .modal__body {
  top: 40vh;
  z-index: 100;
}

.modal.hidden .modal__overlay,
.modal.hidden .modal__body {
  opacity: 1;
}

.modal.hidden .modal__overlay {
  opacity: 0;
  z-index: 90;
}

.modal.hidden .modal__body {
  top: -100%;
  z-index: 100;
}

body {
  background-color: #1f1f1f;
  color: #c2c2c2;
}

.wrapper {
  font-family: "Trebuchet MS", sans-serif;
  position: relative;
}

.block {
  width: 70vw;
  margin: 0 auto;
}

.header__title {
  font-weight: 700;
  font-size: 1.5rem;
}
