@import "modal";

body {
    background-color: rgb(31, 31, 31);
    color: rgb(194, 194, 194);
}

.wrapper {
    font-family: "Trebuchet MS", sans-serif;
    position: relative;
}
.block {
    width: 70vw;
    margin: 0 auto;
    &__body {
    }

    &__content {
    }
}
.header {
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }
}
